body {
  text-align: center;
  background-color: #ad343e;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: white;
}
.title {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  font-size: xxx-large;
  font-weight: 900;
  height: 30px;
  font-style: oblique;
  margin-bottom: 15px;
  color: black;
}
.navbar {
  height: 50px;
  background-color: #f6bdd1;
}

/* Make the navbar horizontal */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 25px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar a {
  color: #bf1a54;
  font-weight: 900;
  font-size: x-large;
  text-decoration: none;
  padding: 0 10px;
  display: block;
}

.navbar a:hover {
  color: #680e2e;
}
