.changeText {
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.prechangeText {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease;
}
body {
  transition: background-color 0.5s ease;
  height: 110vh;
}
