.navbar {
  height: 50px;
  background-color: #f6bdd1;
}
.navbar ul {
  text-align: left;
  justify-items: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 25px;
  padding-top: 5px;
  overflow: hidden;
}
.navbar li {
  float: left;
}
.navbar a {
  color: #bf1a54;
  font-weight: 900;
  font-size: x-large;
  display: block;
  text-align: center;
  text-decoration: none;
}
.navbar a.left {
  padding-left: 14px;
}
.navbar a.center {
  padding-left: 7px;
  padding-right: 7px;
}
.navbar a.right {
  padding-right: 14px;
}
.navbar a:hover {
  color: #680e2e;
}
